body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title .accent {
  color: #fd9222;
}

/* -------HEADER------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-accent {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

/* -------HERO------- */

.hero {
  padding-bottom: 80px;
}

.hero-wrapper {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  margin-right: 14px;
}

.hero-btn-anchor {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/* -------FEATURES------- */

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  gap: 88px;
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding-bottom: 18px;
}

.features-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* -------TASTE------- */

.taste {
  padding-top: 120px;
  padding-bottom: 60px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  width: calc((100% - 3 * 32px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: white;
  color: #111;
}

.taste-image {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 28px;
}

/* -----------MADE----------- */

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
}

.made-image {
  border-radius: 15px;
  margin-right: 20px;
}

.made-list-wrap {
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  margin-bottom: 28px;
}

.made-list {
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  max-width: 425px;
}

/* -------PRODUCTS------- */

.products {
}

.product-title {
}

.product-list {
}

.product-item {
}

.product-image {
}

.product-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.product-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.product-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* -------SELLERS------- */

.sellers {
}

.sellers-title {
}

.sellers-list {
}

.sellers-item {
}

.sellers-image {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* -------LOVED------- */

.loved {
}

.loved-title {
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* -------FOOTER------- */

.footer {
  background-color: #1e1823;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-text .accent {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-contacts {
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
